@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color: #4E47FF;
    --primary-font: "Inter", sans-serif;
    --secoundery-font: "Raleway", sans-serif;
    --secoundary-color: #252432;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

body{
    background: #F5F8FF;
}

.container{
    max-width: 1140px;
    margin: auto;
    padding: 0 20px;
}

.font-primary{
    font-family: var(--primary-font);
}

.font-secoundary{
    font-family: var(--secoundery-font);
}

.text-primary{
    color: var(--primary-color);
}

.text-secoundary{
    color: var(--secoundary-color);
}

.btn-primary{
    padding: 13px 30px;
    background: var(--primary-color);
    border: 1px solid transparent;
    color: #fff;
    border-radius: 8px;
    transition: .3s;
    cursor: pointer;
    display: inline;
}

.btn-primary:hover{
    margin-bottom: 2px;
    margin-top: -2px;
    box-shadow: 0 5px 10px rgba(101, 0, 232, 0.3);
    /* background: transparent;
    border: 1px solid var(--primary-color); */
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.margin-auto{
    margin: auto;
}

.text-center{
    text-align: center;
}

.title{
    font-size: 38px;
    font-weight: bold;
    background: transparent;
}

.bold{
    font-weight: bold;
}

.normal{
    font-weight: normal;
}

.section-spacing{
    padding: 100px 0;
}

.full-round{
    border-radius: 50%;
}

.rounded{
    border-radius: 10px;
}

.rounded-max{
    border-radius: 40px;
}

.bg-white{
    background: white;
}


/* Navbar and Hero Section Start Here */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 1120px;
    margin: 50px auto;
}
header{
    position: relative;
}
.hero-content{
    background-image: url('./Assets/Hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 900;
}



.hero-title{
    font-size: 65px;
    width: 800px;
    color: var(--secoundary-color);
    margin: 30px 0;
    margin-top: 20%;
}



/* Action Section */

.action{
    padding: 100px 0;
}
.action-content{
    width: 500px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-text{
    margin: 20px 0 15px 0;
    font-size: 24px;
    font-weight: 300;
    color: rgba(37, 36, 50,.5);
}

.action-banner img{
    border-radius: 50px;
}



/* Productive User */

.productive{
    background: rgb(78, 71, 255, 0.1);
    height: max-content;
    padding: 50px 150px;
    border-radius: 24px;
    text-align: center;

}
.progress{
    margin-top: 50px;
    gap: 158px;
}
.progress-title{
    font-size: 80px;
}
.progress-sub-title{
    font-size: 20px;
    color: rgba(0,0,0,.5)
}


/* Review Section */
.review > h3{
    margin: 30px 0 50px 0;
    font-size: 42px;
}
.review .client{
    display: flex;
    column-gap: 2.5rem;
}
.card{
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    display: grid;
    row-gap: 20px;
}
.card .star{
    color: #FFB805;
}
.card .review-content > p{
    font-weight: 300;
}
.card .review-content{
    display: grid;
    row-gap: 10px;
}

.card .review-client{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.review-client .client-info{
    display: grid;
    row-gap: 5px;
}
.review-client .client-info h3{
    color: #606060;
}
.review-client .client-info span{
    color: #9d9d9d;
}





/* Focus Section */

.focus{
    padding: 71px 30px;
    text-align: center;
    display: grid;
    row-gap: 20px;
}

.focus h3{
    font-size: 50px;
}

.focus p{
    color: rgba(0,0,0,.5);
    font-weight: 300;
}


/* Get in Touch Section */
.get-in-touch{
    padding: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    align-items: center;
    justify-content: space-between;
}
.get-in-touch .content h3{
    font-size: 97px;
    color: #000;
}

.get-in-touch form{
    display: grid;
    row-gap: 19px;
}
.get-in-touch form input, .get-in-touch form textarea{
    width: 100%;
    padding: 20px 32px;
    border: 1px solid #D6DDED;
    border-radius: 10px;
}
.get-in-touch form input:focus, .get-in-touch form textarea:focus{
    outline: none;
}

.get-in-touch form .button button{
    width: 100%;
}




/* Footer Section Start */


footer{
    background: #fff;
    padding: 100px 0;
    text-align: center;
}

footer .footer-box{
    width: 540px;
    margin: auto;
}

.footer-box h3{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 900;
}
.footer-box p{
    color: #8987A1;
    margin: 20px 0;
    font-weight: 300;
    line-height: 25px;
}


.footer-nav nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.footer-nav nav ul li a{
    text-decoration: none;
    color: #8987A1;
}
.footer-nav nav ul li a:hover{
    text-decoration: underline;
}